html, body {
	margin: 0;
	padding: 0;
}


body {
	font: 12px/18px "Droid Sans Mono","Lucida Console","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

div#nav {
	position: fixed;
	top: 50px;
	left: 5%;
	width: 20%;
	font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif
}

h1 {
	margin: 40px;
	color: #333;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 3em;
}

div#computers {
	width: 40%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

div#computers div {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 3px #888888;
	border-radius: 30px;
}

div#computers div table {
	margin-left: auto;
	margin-right: auto;
}

div#computers div table tr td:first-child {
	text-transform:uppercase;
	text-align: right;
}

div#computers div table tr td:last-child {
	font-weight: bold;
}

div#computers div.debian {
	background-color: #479647;
	color: white;
}

div#computers div.windows {
	background-color: #006699;
	color: white;
}

div#computers div.undefined {
	background-color: white;
}

div#computers div.asking {
	background-color: white;
	border: solid 1px orange;
}