html, body {
	margin: 0;
	padding: 0;
}


body {
	font: 12px/18px "Droid Sans Mono","Lucida Console","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

div#nav {
	position: fixed;
	top: 50px;
	left: 5%;
	width: 20%;
	font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif
}

h1 {
	margin: 40px;
	color: #333;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 3em;
}

a {
	color: blue;
}

div#param,
div#computers {
	width: 40%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

div#computers div {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 3px #888888;
	border-radius: 30px;
	color: white;
}

div#computers div.undefined,
div#computers div.asking {
	color: black;
}

div#computers div table {
	margin-left: auto;
	margin-right: auto;
}

div#computers div table tr td:first-child {
	text-transform:uppercase;
	text-align: right;
}

div#computers div table tr td:last-child {
	font-weight: bold;
}

div#computers div.undefined {
	background-color: white;
}

div#computers div.asking {
	background-color: white;
	border: dashed 3px #DC0F30;
}

div#param table {
	width: 100%;
	border-spacing: 0;
}

div#param table td,
div#param table th {
	text-align: center;
	font-size: 1.1em;
	padding: 4px;
	height: 27px;
}

div#param table td:nth-child(3) {
	width: 50%;
}

div#param table tr:nth-child(even) td {
	background-color: #DDDDDD;
}

div#param table tr:hover td {
	background-color: #DC0F30;
	color: white;
}

div#param table tr td:first-of-type {
	border-radius: 5px 0 0 5px;
}

div#param table tr td:last-of-type {
	border-radius: 0 5px 5px 0;
}

div#param table tr td:last-of-type img {
	visibility: hidden;
	cursor: pointer;
	height: 1em;
	vertical-align:middle;
}

div#param table tr:hover td:last-of-type img {
	visibility: visible;
}

div#param table tr select.choix,
div#param table tr:hover span.action {
	display: none;
}

div#param table tr span.action,
div#param table tr:hover select.choix {
	display: inline;
}